nav ul{
   background: $color-blue;
   height: 10vh;
   list-style: none; 
   display: flex;
   justify-content: end;
   align-items: center;
}
nav ul li a {
   text-decoration: none;
   padding: 0 1em;
   transition: .5s;
   border-radius: .8em;
   color : $color-orange ;
    &:hover{
      background-color: white;
      color: $color-orange;
    }
}
nav ul li{
    padding : 0 2% 0 2%;
}